
/*main styling */
body{
  background: rgba(203, 203, 210, 0.15);
  //overflow:hidden;
  
}

a{
    text-decoration:none!important;
}
.ask-spec-dr{
    border: 3px solid #f2f2f2;
    transition-duration: .55s;
}
.ask-spec-dr .card{
    margin-top:30px;
}
.ask-spec-dr:hover{
  background-color: white;
  transition-duration: .55s;
  padding: 10px 19px;
}
.get-help{
    text-align: center;background-color:#e8fbf8;
}
.sidebar-wrapper{
background-color: #009ca9;
 }
 .overlay-content{
 margin-top: 62px;
 margin-left:100px;
 z-index:-1;
 position:absolute;
 }
 .ask-dr, .ask-dr-main,.chat-content, .choose-plan, .add-card{
 z-index:-1;
 position:absolute;    
 }
.btn-user{
  padding: 5px;
border-radius: 29px;
background-color: black;
color: #47eabd;
margin-left:25px;
}
.logo > a:hover{
background-color: black;
color: #47eabd;
}
.profile{
background-color:#009ca9;
color:white;
font-weight:bold;
text-align: center;
}

.card-header{
background-color:black;
color: #47eabd;
text-align: center;
border-radius:5px;
height:45px;
margin-bottom: 20px;
}
.default-card{
  margin-top:30px;
}
.no-margin-bottom{
  margin-bottom:0px;
}
 .panel-image{
  overflow:hidden;
  border-radius: 50%;
  height:45px;
  width:45px;
  margin-bottom:5px;
 }
 .dr-image{
  overflow:hidden;
  border-radius: 50%;
  height:100px;
  width:100px;
  margin-left:42%;
  margin-bottom:5px;
 }
 .dr-main-content{
    text-align:center;
    color:#333;
    border-bottom:3px solid #f2f2f2
 }
 .dr-main-content span{
    font-size: 19px;color:#faa500;
 }
 .bio{
    margin-top:20px;
    margin-bottom:40px;
 }
 .chat-format div{
    transition-duration: 0.55s;
 }
 .chat-format div:hover{
    transition-duration: 0.55s;
    padding: 10px 19px;
 }
 .vid-chat{
    border-right: 3px solid #f2f2f2
 }
 .vid-chat span{
    font-size: 40px;color:#009ca9;padding-left: 30px;
 }
 #dr-chat span{
    font-size: 40px;color:#009ca9;padding-left:30px;
 }

/*custom styling */


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
a,
 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  
}

h4, .h4 {
  font-size: 22px;
  line-height: 30px;
}
h5{
    font-size:19px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  //overflow:hidden;
}
.wrapper{ 
  position: relative;
  top: 0;
  height: 100vh;
  }
  .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  overflow-x: hidden;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
}
.sidebar .logo {
  padding: 5px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .nav {
  margin-top: 20px;
}
.sidebar .nav li > a {
  color: #FFFFFF;
  margin: 5px 15px;
  opacity: .86;
  border-radius: 4px;
  background:transparent;
}
.sidebar .nav li:hover > a {
    color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}
.sidebar .nav li.active > a {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav i {
  font-size: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 12px;
}
#font-awesome{
  color:#009ca9;
}
#font-awesome1{
  color:#888888;
}
.answer-content, .billing-content, .profile-content, .invite-content, .settings-content{
  background-color:#009ca9;
  margin-top:-25px;
  margin-left:-9px;
  height:auto;
}
.modal-header{
    height: 180px;margin-top: 10px;border-radius: 5px 5px 0 0;
}
.ref-link{
    padding-bottom: 15px;font-size: 16px;
}
.copy-btn{
    position: absolute;right: 0px;top:0px;display: inline-block;height:40px;padding:10px;text-align: center;text-transform: none;background-color:#009ca9;
}
.copy-btn span{
    color: black;font-size: 18px;line-height: 0px;
}
.no-padding{
    padding:0px;
}
.border-bottom{
  border-bottom:1px solid #e2e2e2;
  margin-top:5px;
}
.margin-top{
  margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.margin-left{
    margin-left:50px;
}
textarea{
    width:90%;
    height:40px;
    margin-left:5px;
    margin-top:5px;
}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100%;
  overflow: hidden;
  width: 260px;
  z-index: 4;
  -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}
.navbar .collapse ul{
  background-color:#009ca9;
  margin-right:-30px;
 }
 .navbar .collapse li > a{
 color: #FFFFFF;
  margin: 5px 15px;
  opacity: .86;
  border-radius: 4px;
  background:transparent;
 }
 .navbar .collapse li:hover > a {
    color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
 }
 .navbar .collapse li:active > a {
   color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}
.main-panel .navbar {
  margin-bottom: 0;
}
.navbar {
  border: 0;
  font-size: 16px;
  border-radius: 0;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
  .main-panel {
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.card .content {
  padding: 15px 15px 10px 15px;
}
.card label {
  font-size: 14px;
  font-weight: 400;
  color: #009ca9;
  margin-bottom: 0px;
}
.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #333333;
}
#main-nav{
  margin-left:100px;
  margin-bottom:-150px;
}
.answer-redirect, .invite-redirect{
    padding:0px;
    margin-top: -38px;
    font-size:18px;
}
.answer-redirect h4{
    font-size:18px;
}
.doctor-online-logo{
    margin-left:40%;
    padding-top: 10px;
}
.ask-dr, .choose-plan, .add-card{
    margin-top: 50px;
}
.ask-dr-main{
    margin-top: 50px;
}
.ask-dr-head{
    text-align:center;
}
.ask-dr-search{
    padding-left: 34px;font-size: 18px;
}
.ask-dr-head .card span{
    padding:5px 5px;color:#0e6a72;
}
.dr-rating i{
    color: #f5a623;
    margin-right:3px;
}
.dr-rating{
    color:#009ca9;
}
.main-color{
    color:#009ca9;
}
.default-color{
    color:#333;
}
.dr-lang{
    border:2px solid #333;font-size: 17px;border-radius: 4px;
    margin-left:40px;
}
.no-box-shadow{
    box-shadow:unset;
}
.search-span {
    float: left;
    margin-left: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #009ca9;
}
.referral-box{
    position:relative;
    padding: 0px;
    height:43px;
    margin:0 15px 10px;
    border-radius: 5px;
    text-align: left;
    font-size:14px;
}
.referral-link{
    display:inline-block;
    line-height:43px;
    font-weight:300;
}
.social-media i{
    color: #009ca9;
    font-size:40px;
}
.bill-head-set{
    margin-top: 5px;
    //margin-bottom:5px;
    padding: 10px 15px;
    border:2px solid #f2f2f2;
}
.prop{
    margin-bottom:10px;
}
.bold{
    font-weight:bold;
}
.center{
    text-align:center;
}
.btn-save{
    background-color: #009ca9;padding: 0px;color:white;
}
.btn-save span{
    font-size: 23px;
}
.prop-text{
    display: inline-block;vertical-align: top;margin-left: 2px;font-size:13px;max-width: 240px;
}
.prop-text i{
    color:green;margin-right: 5px;font-size: 16px;
}
.settings-head-set{
    text-align: center;margin-bottom: 10px;margin-top: 0px;border:2px solid #009ca9;padding:10px 15px;
}
.settings-head-set span{
    font-size:19px;
}
.settings-head-set a:hover{
    color:#333;
}
.bill-head-set i{
    font-size:24px;
    padding-right: 15px;
}
.bill-head-set span{
    font-size:19px;
}
.panel-title i{
    margin-top:7px;
}
.panel-title span{
    color: #009ca9;
}
.panel-title{
    font-size:17px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #f8f8f8;

}


/*media queries */

@media (max-width: 991px) {
  .sidebar {
    display: none;
    overflow:hidden;
  }
  .main-panel {
    width: 100%;
  }
  #main-nav{
    margin-left:0px;
    margin-bottom:0px;
  }
  .overlay-content{
    margin-left:50px;
    margin-top:0px;
  }
  .profile-content, .answer-content, .billing-content, .invite-content, .settings-content{
    margin-left:6%;
    margin-top:10px;
  }
}
@media (max-width: 500px) {
    .overlay-content{
    margin-left:0px;
    margin-top:0px;
  }
  .profile-content, .answer-content, .billing-content, .invite-content, .settings-content{
    margin-left:10px;
    margin-top: 10px;
  }
    }
    @media (max-width: 320px){
    .email span{
    display:none;
  }
    }
    
@media only screen and (max-width: 760px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 93%;
    }
}
